@tailwind utilities;
@plugin 'tailwind-scrollbar';
@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f6efee;
  --background-hover: #f6efee;
  --background-dark: #05080a;
  --background-hover-dark: #595959;
  --foreground: #171717;
  --font-color: #242424ce;
  --font-color-hover: #656565ce;
  --font-color-dark: #ffffffb9;
  --font-color-hover-dark: #ffffff93;
  --inverted-font-color: #ffffffb9;
  --details-primary-color: #fe4e00;
  --details-primary-color-dark: #9883e5;
  --container-background: #bfbfbf29;
  --container-background-dark: #ffffff0e;
  --inner-container-background: #9f9f9f17;
  --info-tile-bg-title: transparent;
  --info-tile-bg-title-dark: #9f9f9f17;
  --container-border: #c2c2c21f;
  --header-line: #0000000f;
  --header-line-dark: #c5c5c51b;
  --font-unica: var(--font-unica-one);
  --button-hover: #31313121;
  --button-hover-dark: #ffffff1c;
}

@layer components {
  @media (min-width: 1024px) and (max-height: 815px) {
    .container-header-xmd {
      @apply !grid-rows-[4rem_1fr];
    }

    .project-card-container-xmd {
      @apply !gap-1;
    }

    .project-image-xmd {
      @apply !w-[3rem];
    }
  }

  @media (min-width: 1280px) and (max-height: 880px) {
    .presentation-xmd {
      @apply !py-0 !px-2;
    }

    .skills-card-xmd {
      @apply !h-[1.6rem] !gap-1;
    }

    .skills-description-xmd {
      @apply !text-[.53rem];
    }

    .skills-icons-xmd {
      @apply !h-3 !w-3;
    }

    .project-image-xmd {
      @apply w-[3.7rem];
    }

    .project-btns-xmd {
      @apply !size-[1.8rem];
    }

    .projects-text-xmd {
      @apply !line-clamp-5 !text-[.65rem]/[.9rem];
    }
  }

  @media (min-width: 1536px) and (max-height: 880px) {
    .presentation-xmd {
      @apply !py-0 !px-5;
    }

    .picture-xmd {
      @apply !w-[6rem] !h-[6rem];
    }

    .my-name-xmd {
      @apply !text-[1rem];
    }

    .available-xmd {
      @apply !h-[1.3rem] px-1 pr-2;
    }

    .contact-btns-xmd {
      @apply !h-10 !rounded-[.4rem];
    }

    .swiper-pagination {
      @apply !bottom-3;
    }

    .projects-text-xmd {
      @apply !line-clamp-4;
    }
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-details-color: var(--details-primary-color);
  --breakpoint-xs: 375px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
}

.header-font {
  font-family: "Unica One", cursive;
}

.global-font {
  font-family: var(--font-montserrat);
}

.container-styles {
  @apply border border-[var(--container-border)] rounded-2xl;
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.animate-fade-out {
  animation: fadeOut 0.5s ease-in-out;
}

.animate-marquee {
  animation-name: marqueeAnimation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  direction: forwards;
}

.animate-marquee-reverse {
  animation-name: marqueeAnimationReverse;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  direction: reverse;
}

.button-hover {
  transition: background-color 0.3s ease;
}

.button-hover:hover {
  background-color: var(--button-hover);
}

.custom-swiper-button-next,
.custom-swiper-button-prev {
  padding: 0.75rem !important;
  width: 2rem !important;
  height: 2rem !important;
}

.swiper-pagination {
  bottom: 7% !important; /* Más cerca del fondo */
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: rgba(148, 148, 148, 0.742) !important;
  margin: 0 3px !important;
}

/* Animations */

@keyframes fadeIn {
  from {
    transform: translateX(40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(40px);
    opacity: 0;
  }
}

@keyframes marqueeAnimation {
  to {
    transform: 0;
  }
  from {
    transform: translateX(-50%);
  }
}

@keyframes marqueeAnimationReverse {
  to {
    transform: translateX(-50%);
  }
  from {
    transform: 0;
  }
}
