@import "tailwindcss";
@plugin 'tailwind-scrollbar';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-color: #ffffffb9;
  --details-primary-color: #9883e5;
  --container-background: #ffffff03;
  --inner-container-background: #ffffff0c;
  --container-border: rgba(255, 255, 255, 0.09);
  --font-unica: var(--font-unica-one);
  --outline-color: #5158bb, #f26df9, #cd4631, #ffb100;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(90deg, #05080a, #1a212c);
    --foreground: #ededed;
    --font-color: #ffffffb9;
    --details-primary-color: #9883e5;
    --container-background: rgba(255, 255, 255, 0.09);
    --inner-container-background: #ffffff0c;
    --container-border: rgba(255, 255, 255, 0.09);
  }
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  display: flex;
  justify-content: center;
  color: var(--font-color);
}

.header-font {
  font-family: "Unica One", cursive;
}

.global-font {
  font-family: var(--font-montserrat);
}

.container {
  @apply border border-[var(--container-border)] rounded-2xl;
  background: linear-gradient(110deg, #d9d9d915, #d9d9d90f);
}

@media (prefers-color-scheme: dark) and (min-width: 1280px) {
  :root {
    --background: linear-gradient(120deg, #05080a 50%, #344966);
    --foreground: #ededed;
  }
}
